@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /*text-[#05f]*/
    .btn-link {
        @apply underline text-left;
        @apply betterhover:hover:no-underline;
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

@layer base {
    tr {
        @apply align-top;
    }
}