@font-face {
    font-family: 'Palace Script MT';
    src: url('fonts/shit.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("https://fonts.cdnfonts.com/css/helvetica-neue-55");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Chomskey';
    src: url('fonts/Chomsky.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply font-bold;
    }
}

@layer components {
    /*text-[#05f]*/
    .btn-link {
        @apply underline;
        @apply text-left;
        @apply betterhover:hover:no-underline;
        @apply cursor-pointer;
    }

    .nav-link {
        @apply font-medium;
        @apply betterhover:hover:text-gray-700;
        @apply cursor-pointer;
        @apply text-base;
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

@layer base {
    tr {
        @apply align-top;
    }
}